<div class="container">
    <h1 class="text-center">Eat the burger!</h1>
    <div class="text-center">
        <img id="burger-image" src="/assets/img/burger.png">
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Burgers not eaten!</h2>
            <ol>
            {{#each burger}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/unless}}
            {{/each}}
            </ol>
        </div>
        <div class="col-md-6">
            <h2>Devoured burgers!</h2>

            <ol>
            {{#each burger}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/if}}
            {{/each}}
            </ol>
        </div>    
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <form class="create-form">

            <div class="form-group">
                <label for="burger-name">Burger Name:</label>
                <input type="text" id="burger-name" name="name">
            </div>

            <button class="btn btn-dark" type="submit">Add Burger</button>
            <p>Enter a burger you want to eat then Click Add Burger.</p>
            </form>
        </div>
    </div>
</div>