<li style="margin-bottom: 3px;">
	{{burger_name}}

	<button class="change-devoured btn btn-dark" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour!{{else}}Make again!{{/if}}
	</button>
</li>